@model IEnumerable<FashionStore.Domain.DTOs.CategoriaDTO>

@{
    ViewData["Title"] = "Categorías";
}

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h1 class="page-title">
            Categorías
        </h1>

        <a asp-action="Create" class="btn btn-success btn-modern">
            + Nueva Categoría
        </a>

    </div>

    <div class="table-responsive table-modern p-3">

        <table class="table align-middle">

            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th width="250">Acciones</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            <strong>@item.Nombre</strong>
                        </td>

                        <td>
                            @item.Descripcion
                        </td>

                        <td>

                            <a asp-action="Edit"
                               asp-route-id="@item.Id"
                               class="btn btn-warning btn-sm btn-modern">
                                Editar
                            </a>

                            <a asp-action="Details"
                               asp-route-id="@item.Id"
                               class="btn btn-info btn-sm btn-modern">
                                Detalles
                            </a>

                            <a asp-action="Delete"
                               asp-route-id="@item.Id"
                               class="btn btn-danger btn-sm btn-modern">
                                Eliminar
                            </a>

                        </td>

                    </tr>
                }

            </tbody>

        </table>

    </div>

</div>