@model FashionStore.Domain.DTOs.PrendaDTO

<h1 class="mt-4">Detalle Prenda</h1>

<hr />

<dl class="row">

    <dt class="col-sm-2">Nombre</dt>
    <dd class="col-sm-10">@Model.Nombre</dd>

    <dt class="col-sm-2">Descripción</dt>
    <dd class="col-sm-10">@Model.Descripcion</dd>

    <dt class="col-sm-2">Talla</dt>
    <dd class="col-sm-10">@Model.Talla</dd>

    <dt class="col-sm-2">Color</dt>
    <dd class="col-sm-10">@Model.Color</dd>

    <dt class="col-sm-2">Precio</dt>
    <dd class="col-sm-10">S/ @Model.Precio</dd>

    <dt class="col-sm-2">Stock</dt>
    <dd class="col-sm-10">@Model.Stock</dd>

</dl>

<a asp-action="Edit"
   asp-route-id="@Model.Id"
   class="btn btn-warning">
    Editar
</a>

<a asp-action="Index"
   class="btn btn-secondary">
    Volver
</a>