@model FashionStore.Domain.DTOs.ClienteDTO

@{
    ViewData["Title"] = "Detalle Cliente";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Detalle Cliente</h1>

<hr />

<dl class="row">

    <dt class="col-sm-3">Nombre</dt>
    <dd class="col-sm-9">@Model.NombreCompleto</dd>

    <dt class="col-sm-3">DNI</dt>
    <dd class="col-sm-9">@Model.DNI</dd>

    <dt class="col-sm-3">Teléfono</dt>
    <dd class="col-sm-9">@Model.Telefono</dd>

    <dt class="col-sm-3">Correo Electrónico</dt>
    <dd class="col-sm-9">@(Model.Email ?? "-")</dd>

    <dt class="col-sm-3">Dirección</dt>
    <dd class="col-sm-9">@Model.Direccion</dd>

</dl>

<a asp-action="Edit"
   asp-route-id="@Model.Id"
   class="btn btn-warning">
    Editar
</a>

<a asp-action="Index"
   class="btn btn-secondary">
    Volver
</a>